// Variables
// --------------------------------------------------

// Bootstrap default screen sizes
@screen-xs-min:  480px;
@screen-sm-min:  768px;
@screen-md-min:  992px;
@screen-lg-min: 1200px;

@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);

// Colors
@light-base: #0072C6;
@light-blur: #005696;
@light-sharp: #E4E8FF;

@dark-base: #2D2D2D;
@dark-blur: #000;
@dark-sharp: #BBB;

@link-default: @light-base;
@link-sharp: lighten(@link-default, 10%);
@link-bright: #FFF;

@dark-body: #1C1C1C;
@dark-link: #FFCC00;
@dark-table-hover: lighten(@dark-body,10%);

// Spacing
@nav-offset: 70px;

// Mixins
// --------------------------------------------------
.make-nav(@name, @base, @blur, @sharp) {
    .ml-nav-@{name} {
        background-color: @base;
        border-color: @blur;
        .navbar-collapse, .navbar-form {
            border-color: @blur;
        }
        .navbar-nav {
            > li {
                > a, > p {
                    color: @sharp;
                }
            }
            > .dropdown > a .caret {
                border-top-color: @sharp;
                border-bottom-color: @sharp;
            }
            > .open {
                > a, > a:hover, > a:focus {
                    color: @link-bright;
                    background-color: @blur;
                }
            }
        }
        .navbar-toggle {
            border-color: @base;
            &:hover, &:focus {
                background-color: @blur;
                border-color: @blur;
            }
        }
    }
    @media (max-width: @screen-xs-max) {
        .ml-nav-@{name} .navbar-nav .open .dropdown-menu {
            > li > a {
                color: @sharp;
                &:hover {
                    color: @link-bright;
                }
            }
            .divider {
                background-color: @blur;
            }
        }
    }
}

// Actual CSS
// --------------------------------------------------

// Body layout
body {
    padding-top: @nav-offset;
}

// Generic table layout
td {
    a {
        color: @link-default;
        &:hover {
            color: @link-sharp;
            text-decoration: none;
        }
    }
    &:first-child>a{
        font-weight: bold;
    }
}

// Common navigation layout
.ml-nav {
    .navbar-header {
        text-shadow: 0 -1px 0 rgba(0,0,0,.15);
    }
    .navbar-brand {
        color: @link-bright;
    }
}

// Themed navigation layout
.make-nav(light, @light-base, @light-blur, @light-sharp);
.make-nav(dark, @dark-base, @dark-blur, @dark-sharp);

// Themed body
.dark-body {
    background-color: @dark-body;
    color: @dark-sharp;
    
    .breadcrumb, .jumbotron {
        background-color: @dark-base;
    }
    
    #modlist {
        >thead {
            background-color: @dark-body;
        }
        tr {
            td, th {
                border-top-color: lighten(@dark-body,10%);
                border-bottom-color: lighten(@dark-body,10%);
            }
        }
        tr.active {
            td, th {
                background-color: @dark-table-hover;
            }
        }
        tr.success>td {
            background-color: darken(#dff0d8,30%);
        }
        tr.info>td {
            background-color: darken(#d9edf7,30%);
        }
        tr.warning>td {
            background-color: darken(#fcf8e3,30%);
        }
        tr.danger>td {
            background-color: darken(#f2dede,30%);
        }
    }
    
    .table-hover {
        >tbody>tr:hover { //.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th
            td, th {
                background-color: @dark-table-hover;
            }
        }
    }
    
    // Darken Bootstrap colors
    // TODO: More variables instead of hardcoding
    a {
        color: @dark-link;
        &:hover, &:focus {
            color: @link-bright;
        }
    }
    
    .btn-default, .btn-default:hover, .btn-default:focus {
        color: #333;
        background-color: darken(#fff,15%);
        border-color: darken(#ccc,15%);
    }
    .btn-default {
        &:hover, &:focus, &:active, .active {
            background-color: darken(#ebebeb,15%);
            border-color: darken(#adadad,15%);
        }
    }
    .btn-primary {
        color: #fff;
        background-color: darken(#428bca,15%);
        border-color: darken(#357ebd,15%);
    }
    .btn-primary {
        &:hover, &:focus, &:active, &.active {
            background-color: darken(#3276b1,15%);
            border-color: darken(#245681,15%);
        }
    }
    
    .label-default {
        background-color: lighten(@dark-body,20%);
    }
    .label-primary {
        background-color: darken(#428bca,20%);
    }
    .label-info {
        background-color: darken(#5bc0de,20%);
    }
    .label-success {
        background-color: darken(#5cb85c,20%);
    }
    .label-warning {
        background-color: darken(#f0ad4e,20%);
    }
    .label-danger {
        background-color: darken(#d9534f,20%);
    }
    
    .alert-info {
        background-color: #245682;
        border-color: darken(#245682,5%);
        color: #ddd;
    }
    .alert-danger {
        background-color: darken(#f2dede,20%);
        border-color: darken(#ebccd1,20%);
        color: darken(#a94442,20%);
    }
    
    .input-group-addon, .input-group-btn .btn-default, .form-control {
        background-color: @dark-base;
        border-color: @dark-blur;
        color: @dark-sharp;
    }
    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        background-color: darken(@dark-sharp,20%);//@dark-base;
        //color: @dark-blur;
    }
    .input-group input {
        background-color: @dark-body;
        border-color: @dark-blur;
        color: @dark-sharp;
    }
    
    .form-control:focus {
        border-color: darken(#245682,20%);
        // #66AFE9
        //-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        //box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px darken(rgba(102,175,233,.6),20%);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px darken(rgba(102,175,233,.6),20%);
    }
    
    .progress {
        background-color: @dark-base;
    }
    .progress-bar {
        background-color: darken(#428bca,20%);
    }
    .progress-bar-info {
        background-color: darken(#5bc0de,20%);
    }
    
    .panel-body {
        background-color: @dark-base;
    }
    .panel-default {
        border-color: @dark-sharp;
        .panel-heading {
            background-color: @dark-sharp;
            border-color: @dark-sharp;
        }
    }
    .panel-info {
        border-color: darken(#bce8f1,20%);
        .panel-heading {
            color: darken(#31708f,20%);
            background-color: darken(#d9edf7,20%);
            border-color: darken(#bce8f1,20%);
        }
    }
    .panel-danger {
        border-color: darken(#ebccd1,20%);
        .panel-heading {
            color: darken(#a94442,20%);
            background-color: darken(#f2dede,20%);
            border-color: darken(#ebccd1,20%);
        }
    }
    
    .thumbnail {
        background-color: @dark-base;
        border-color: @dark-base;
    }
    
    .dropdown-menu {
        background-color: @dark-base;
        
        >li>a {
            color: @dark-sharp;
            &:hover {
                background-color: @dark-sharp;
                color: @dark-base;
            }
        }
        
        .divider {
            background-color: @dark-blur;
        }
    }
    
    pre {
        background-color: @dark-base;
        border-color: @dark-base;
        color: @dark-sharp;
    }
    code {
        background-color: @dark-base;
        color: lighten(#c7254e,10%);
    }
}

// Table
.fade-success {
    td, th {
        -webkit-transition: all 3s;
        transition: all 3s;
    }
}
.depends {
    &:hover, &:focus {
        text-decoration: none;
    }
}
.label, .tooltip {
    font-weight: normal;
}

// Twitter Typeahead
.twitter-typeahead .tt-query {
    margin-bottom: 0;
}
.twitter-typeahead .tt-hint {
    display: none;
}
.tt-dropdown-menu {
    min-width: 160px;
    margin-top: 0;
    padding: 5px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    *border-right-width: 2px;
    *border-bottom-width: 2px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}
.tt-suggestion {
    display: block;
    padding: 3px 20px;
    border-top: 1px solid #ccc;
}
.tt-suggestion.tt-is-under-cursor {
    color: #fff;
    background-color: #0081c2;
    background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
    background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
    background-image: -o-linear-gradient(top, #0088cc, #0077b3);
    background-image: linear-gradient(#0088cc, #0077b3);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}
.tt-suggestion.tt-is-under-cursor a {
    color: #fff;
}
.tt-suggestion p {
    margin: 0;
}
.tt-suggestion:first-child {
    border-top: 0;
}

// Table
#modlist thead {
    background-color: #FFFFFF;
}
.modlist-table {
    p {
        margin: 0;
    }
    a {
        font-weight: bold;
    }
}
.hidden-search {
    display: none;
}
.input-group-btn .dropdown-menu li {
    cursor: pointer;
}
.advanced-search {
    margin-top: 15px;
}
.input-group .input-group-addon:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) {
    border-right-width: 0;
}
.home-changelog div p:nth-of-type(2) {
    min-height: 60px;
}
#nothuman {
    display: none;
    visibility: hidden;
}

// Bypass Adblock Plus social list
// Alias for fa-twitter
.fa-tw:before {
    content: "\f099";
}

// Same effect as hidden-*, but does not break navbar
@media (max-width: @screen-xs-min) {
    .hidden-xs-nav {
        display: none;
    }
}
@media (min-width: @screen-xs-min) and (max-width: @screen-xs-max) {
    .hidden-sm-nav {
        display: none;
    }
}
@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
    .hidden-md-nav {
        display: none;
    }
}
@media (min-width: @screen-md-min) {
    .hidden-lg-nav {
        display: none;
    }
}