body {
	background-image:url('../images/mcf_1_3rd.png');
	color:#fff;
	font-family:verdana,arial;
}

body#submission_form {
	
	background-color: #000000;
	min-width:702px;
    color: #fff;
}

iframe#submission_form {
	width:700px;
	height:1450px;
	border:1px dotted white;
}

.padded {
	padding-left:50px;
	padding-right:50px;
}