body			{text-align:center;
				background-image:url('../images/mcf_1_3rd.png');}
			
p				{color:white;
				font-size: 18px;}
				
p.n				{text-shadow: 1px 1px 10px gray;}
			
p.select		{background-color:black;}

span.section		{font-size: 36px;
				font-weight:bold;}
				
span.selection	{font-size: 24px;}