body {
font-size:13px;
margin:0 auto;
text-align: center;
}

table {
	color:black;
    margin-left:auto; 
    margin-right:auto;
}

.modlist th,td {
padding:3px;
}

.modlist tr:hover {
background-color:#B7CDDD;
}

table.modlist  {
	background-color:#E8EFF4;
	border:1px solid #B8D1E6;
	width:85%;
	border-top:none;
}

table.modlist th {
	border: 3px double white;
	background-color:#28292a;
	color:white;
}

input {border:solid 1px gray;
	color:black;}

/*Stuff to center specific columns*/
table.modlist td:nth-of-type(1) { text-align: left; }
table.modlist td:nth-of-type(2) { /*display:none;*/ 		text-align: left;}
table.modlist td:nth-of-type(3) { text-align: center; }
table.modlist td:nth-of-type(4) {text-align: center; font-weight: bold;}
table.modlist td:nth-of-type(5) {text-align: center; text-decoration: underline;}
/*/*/

.modlist td.fr		{color:#0451FF;}
.modlist td.fc		{color:#008000;}
.modlist td.nfc		{color:#FF0000;}
.modlist td.na		{color:black;}

p {
background-color:black;
font-weight:bold;
color:white;
padding:3px;
}
			
a			{color:#3072B3;
			text-decoration:underline;}
			
a.ns		{color:#3072B3;}
a.ns:hover	{color:#3072B3;
			text-decoration:underline;}
			
.modlist a:hover		{color:#173859;
			text-decoration:none;}

/*Code for descriptions*/
.desctt 		{background:transparent url(../images/desc.png) center center no-repeat;
			color: #3072B3;
			outline: none;
			text-decoration: underline;
			position: relative;}
			
td.d 		{background:transparent url(../images/descd.png) center center no-repeat;}
td.ml 		{background:transparent url(../images/descml.png) center center no-repeat;}
			
big.d		{color:#ff8104;
			text-decoration: underline;}
big.rpa		{font-size:111%;}
big.bc		{font-size:119%;}
small.d		{color:#04ff81;}
i.d			{color:#0481ff;}
i.w			{color:#ff8181;}

			
.desctt span {
	margin-left: -999em;
	position: absolute;
}

.desctt:hover		{background:transparent url(../images/hdesc.png) center center no-repeat;}
.desctt:hover > .tt {
display:block;
}

.desctt:hover span {
	border-radius: 5px 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; 
	box-shadow: 5px rgba(0, 0, 0, 0.1); -webkit-box-shadow: 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px rgba(0, 0, 0, 0.1);
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	position: absolute; right: 6.3em; top: 1em z-index: 99;
	margin-left: 0; width: 250px;
}

@-moz-document url-prefix() {
.desctt:hover span {
	-moz-border-radius: 2px;
	box-shadow: 5px rgba(0, 0, 0, 0.1); -moz-box-shadow: 5px rgba(0, 0, 0, 0.1);
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	position: absolute; left: 0px; top: 1.3em z-index: 101;
	margin-left: 0; width: 250px;}}


.desctt:hover img {
	border: 0; margin: -10px 0 0 -55px;
	float: left; position: absolute;
}
.desctt:hover em {
	font-family: Candara, Tahoma, Geneva, sans-serif; font-size: 1.2em; font-weight: bold;
	display: block; padding: 0.2em 0 0.6em 0;}
	
.tt { padding: 0.8em 1em; background: black; border: 3px double white; color:white; font-weight:bold; display:none;}
/*/*/

.searchEmpty	{color: lightgray;} /*This element borrowed from Vattic alongside his javascript code*/


/*A footer in place to display a mod count*/
.API {
	border-top:1px double gray;
	background-color: black; width:100%; height: 17px;
	text-align: center; font-size:14px; color:white; font-family:Verdana;
	padding-top: 0px;
	position:fixed; bottom: 0px;
}

.API a {
	color: #ff8104;
	text-decoration:none;
}

.API a:hover {
	color: #04ff81;
}

.footer			{border:3px double white; border-bottom:none; border-right:none;
				background-color: black;
				height: 14px; min-width:110px;
				text-align: center; font-size:12px; color:white; font-family:Verdana;
				padding-top: 0px;
				position:fixed; right: 0px; bottom: 18px;}

.footer:hover	{width:220px;
				height: 26px;
				font-size:24px;}
/*/*/



/*CSS for the credits page*/
.credits td	{border:1px solid white;}
.credits tr:hover	{background-color:#28292a;}

tr.citric:hover {
	background-color:lightgray; color:black; text-shadow: 0px 0px 1pc white;
}

.credits a:hover {
	color:lightgray;
	text-decoration:none;
	font-style:italic;
}