table.nav			{background-color:black;
					border:1px solid white;
					width:600px;
					color:white;
					text-align:center;
					border-collapse:collapse;}

table .nav .listnav	{width:80%;}
					
.nav a				{text-decoration:none;
					color:white;
					-webkit-transition:.5s;
					transition:.5s;}

.nav a:hover			{text-shadow: 0px 0px 1pc black;
					color:black;}
					
.nav thead:hover		{background-color:black;}
					
.nav .nh			{border:1px solid white;
					border-top:none;
					border-bottom:none;
					-webkit-transition:.5s;
					transition:.5s;}

.nav td			{font-weight:bold;}
					
.nav .nh:hover		{background-color:lightgray;
					color: black;}

.nav .nh:hover a		{color: black;
						font-style:normal;}

.nav .h			{background-color:darkgray;
					color:black;
					font-weight:bold;
					text-shadow: 0px 0px 1pc white;}