html {
	height: 100%;
}
body {
	background: black;
	color: white;
	height: 100%;
	width: 100%;
	font-family: 'PT Sans', Arial, sans-serif;
	padding: 0;
	margin: 0;
	min-width: 1160px;
}
#login {
	margin-left: auto;
	margin-right: auto;
	background: black;
	width: 300px;
	padding: 20px;
	text-align: center;
	display: block;
}
#content {
	background: #444444;
	width: 100%;
	min-height: 94.375%;
	padding: 50px 75px;
	word-wrap: break-word;
	box-sizing: border-box;
}
a {
	color: #DDFFDD;
	text-decoration: none;
}
a:hover {
	color: #BBFFBB;
	text-decoration: underline;
}
strong {
	color: #BBBBFF;
}
h1 {
	text-align: center;
	margin: 0;
	padding: 20px 0;
	background-color: #080808;
}
#navigation {
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: #0F0F0F;
}
#navigation li {
	float: left;
	display: inline-block;
	list-style: none inside none;
	background-color: #0F0F0F;
	width: 33.33333333333333%;
	min-width: 128px;
	outline: 1px solid #444444;
}
#navigation.admin li {
	width: 12.5%;
}
#navigation li.current {
	background-color: #444444;
}
#navigation li a {
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 0.6em 0;
	color: white;
}
#navigation a:focus, #navigation li a:hover {
	color: blue;
	background-color: #888888;
}
table th, table td {
	width: 200px;
}
p, h1, form, button{border:0; margin:0; padding:0;}
.spacer{clear:both; height:1px;}
#listcreator {
	width: 400px;
	padding: 14px;
}
.listcontain {
	border: solid 2px #b7ddf2;
	background: #ebf4fb;
}
.listcontain h1 {
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 8px;
}
.listcontain p {
	font-size: 11px;
	color: #666666;
	margin-bottom: 20px;
	border-bottom: solid 1px #b7ddf2;
	padding-bottom: 10px;
}
.listcontain  label {
	display: block;
	color: black;
	font-weight: bold;
	text-align: right;
	width: 140px;
	float: left;
}
.listcontain .small{
	color: #666666;
	display: block;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	width: 140px;
}
.listcontain  input:not([type=checkbox]), .listcontain textarea {
	float: left;
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	width: 200px;
	margin: 2px 0 21px 10px;
}
.listcontain  input[type=reset], .listcontain  input[type=button], .listcontain  input[type=submit] {
	clear:both;
	margin-left:150px;
	width:125px;
	height:31px;
	background:#666666;
	text-align:center;
	line-height:11px;
	color:#FFFFFF;
	font-size:11px;
	font-weight:bold;
}
#listcreator  input[type=button],#listcreator  input[type=submit] {
	clear:none !important;
	margin-left:50px !important;
}
.listcontain  input[type=checkbox] {
	float: left;
	margin-left: 10px;
}
.listcontain  input[type=checkbox]+label {
	color: black;
	text-align: left;
	font-weight: normal;
	width: 80px;
	margin-right: 10px;
}
.checkcontain {
	border: 0;
}
.listcontain  input[type=reset]:hover, .listcontain  input[type=submit]:hover, .listcontain  input[type=button]:hover, .listcontain  input.zeroclipboard-is-hover {
	background: #BBBBBB;
}
.listcontain {
	float: left;
	margin: 0 50px;
}
#output {
	width: 374px;
	height: 385px;
	resize: none;
}
textarea {
	resize: none;
}
.found {
	color: #008800;
}
.listcontain a {
	color: #000088;
}
.failed {
	color: #880000;
}
.submissiontable {
	border-spacing: 0px;
}
.submissiontable .id {
	width: 20px;
}
.submissiontable th, .submissiontable td {
	padding: 1px 10px;
}
.submissiontable thead tr th {
	border-bottom: 1px solid white;
}
.submissiontable .unresolved {
	background: #664444;
}
.submissiontable .assigned {
	background: #444466;
}
.submissiontable .completed {
	background: #444444;
}
.submissiontable tbody tr:hover {
	background: #666666;
}
.submissiontable tbody tr:hover .unresolved {
	background: #886666;
}
.submissiontable tbody tr:hover .assigned {
	background: #666688;
}
.submissiontable tbody tr:hover .completed {
	background: #666666;
}
.headermessage {
	width: 100%;
	text-align: center;
	margin-bottom: 5px;
	background: #555555;
	border: 1px dashed #666666;
}
.closebutton {
	padding: 0;
	margin: 0;
	position: relative;
	float: right;
	right: 4px;
}