{% extends "layouts/modlist.twig" %}

{% block title %}Banners{% endblock %}

{% block content %}
<p>BBCode (For Use in Minecraft Forums!):</p>
<pre>[center]Looking for mods? Check out the [url="http://modlist.mcf.li/latest"][img]http://modlist.mcf.li/resources/images/bannerSmall.png[/img][/url][/center]</pre>
{% endblock %}