{% extends "layouts/modlist.twig" %}

{% block title %}Other{% endblock %}

{% block content %}
<h1 class="text-center">Miscellaneous</h1>
<hr>
<div class="row">
	<div class="col-md-4 text-center">
		<a href="/random">
			<h3><i class="fa fa-5x fa-random text-muted"></i></h3>
		</a>
		<p><a class="btn btn-lg btn-default" href="/random" role="button">Random Mod</a></p>
	</div>
	<div class="col-md-4 text-center">
		<a href="/api/v3/docs">
			<h3><i class="fa fa-5x fa-bar-chart-o text-muted"></i></h3>
		</a>
		<p><a class="btn btn-lg btn-default" href="/api/v3/docs" role="button">API Documentation</a></p>
	</div>
	<div class="col-md-4 text-center">
		<a href="/changelog">
			<h3><i class="fa fa-5x fa-file-text-o text-muted"></i></h3>
		</a>
		<p><a class="btn btn-lg btn-default" href="/changelog" role="button">Changelogs</a></p>
	</div>
	<div class="col-md-4 text-center">
		<a href="/banners">
			<h3><i class="fa fa-5x fa-flag-o text-muted"></i></h3>
		</a>
		<p><a class="btn btn-lg btn-default" href="/banners" role="button">Banners</a></p>
	</div>
	<div class="col-md-4 text-center">
		<a href="/history">
			<h3><i class="fa fa-5x fa-road text-muted"></i></h3>
		</a>
		<p><a class="btn btn-lg btn-default" href="/history" role="button">History</a></p>
	</div>
	<div class="col-md-4 text-center">
		<a href="/credits">
			<h3><i class="fa fa-5x fa-users text-muted"></i></h3>
		</a>
		<p><a class="btn btn-lg btn-default" href="/credits" role="button">Credits</a></p>
	</div>
</div>
{% endblock %}