<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %} - MCF Mod List</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Minecraft Forum Mod List - A list of Minecraft mods compiled by the community." />
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@MCFModlist">
	<meta property="og:title" content="MCF Modlist">
	<meta property="og:image" content="http://modlist.mcf.li/resources/images/favicon32x32.png">
	<meta property="og:type" content="website">
	<meta name="twitter:description" property="og:description" content="Minecraft Forum Mod List - A list of Minecraft mods compiled by the community." />
	<meta property="og:url" content="http://modlist.mcf.li{{ meta.uri }}">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/resources/stylesheets/modlist.css?v={{ meta.cachetime }}"/>
	<link rel="dns-prefetch" href="//ajax.googleapis.com/"/>
	<link rel="dns-prefetch" href="//bit.ly/"/>
	<link rel="dns-prefetch" href="//www.minecraftforum.net/"/>
	<link rel="shortcut icon" href="/resources/images/favicon32x32.png">
</head>
<body>
	<div class="container">
		{% block content %}{% endblock %}
	</div>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/resources/js/jquery.stickytableheaders.min.js"></script>
	<script type="text/javascript" src="/resources/js/tooltips.min.js"></script>
	<script type="text/javascript" src="/resources/js/search.min.js"></script>
	<script type="text/javascript" src="/resources/js/home.min.js"></script>
	<!--[if lt IE 9]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</body>
</html>