<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="en">
<head>
	<meta charset="utf-8">
	<title>{% block title %}{% endblock %} - MCF Mod List</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta name="description" content="Minecraft Forum Mod List - A list of Minecraft mods compiled by the community." />
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@MCFModlist">
	<meta property="og:title" content="MCF Modlist">
	<meta property="og:image" content="http://modlist.mcf.li/resources/images/favicon32x32.png">
	<meta property="og:type" content="website">
	<meta name="twitter:description" property="og:description" content="Minecraft Forum Mod List - A list of Minecraft mods compiled by the community." />
	<meta property="og:url" content="http://modlist.mcf.li{{ meta.uri }}">
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/resources/stylesheets/modlist.css?v={{ meta.cachetime }}"/>
	<link rel="dns-prefetch" href="//ajax.googleapis.com/"/>
	<link rel="dns-prefetch" href="//bit.ly/"/>
	<link rel="dns-prefetch" href="//www.minecraftforum.net/"/>
	<link rel="shortcut icon" href="/resources/images/favicon32x32.png">
</head>
<body class="{% if meta.themed %}dark-body{% endif %}">
	<nav class="navbar navbar-inverse navbar-fixed-top ml-nav {% if meta.themed %}ml-nav-dark{% else %}ml-nav-light{% endif %}" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="/">MCF Modlist</a>
			</div>
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li><a href="/"><i class="fa fa-home"></i> Home</a></li>
					<li class="dropdown">
						<a href="/versions" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-list"></i> List <b class="caret"></b></a>
						<ul class="dropdown-menu">
						</ul>
					</li>
					<li><a href="/submit"><i class="fa fa-edit"></i> Submit Mods</a></li>
					<li><a href="/faq"><i class="fa fa-question-circle"></i> FAQ</a></li>
					<li class="dropdown">
						<a href="/other" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-external-link"></i> More <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/random">Random Mod</a></li>
							<li><a href="/api/v3/docs">API Docs</a></li>
							<li><a href="/changelog">Changelog</a></li>
							<li><a href="/banners">Banners</a></li>
							<li><a href="/history">History</a></li>
							<li><a href="/credits">Credits</a></li>
						</ul>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="https://twitter.com/MCFModlist"><i class="fa fa-tw"></i><span class="hidden-md-nav"> Twitter</span></a></li>
					<li class="dropdown">
						<a href="/options" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gear"></i><span class="hidden-md-nav"> Options</span></a>
						<ul class="dropdown-menu">
							<li class="dropdown-header">Theme</li>
							<li><a href="/options/theme/light">Light</a></li>
							<li><a href="/options/theme/dark">Dark</a></li>
							<li class="divider"></li>
							<li><a href="/options">Options Page</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<div class="container">
		{% block content %}{% endblock %}
	</div>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/resources/js/jquery.stickytableheaders.min.js"></script>
	<script type="text/javascript" src="/resources/js/tooltips.min.js"></script>
	<script type="text/javascript" src="/resources/js/search.min.js"></script>
	<script type="text/javascript" src="/resources/js/home.min.js"></script>
	<!--[if lt IE 9]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</body>
</html>