<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>MCF Mod List Panel</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css"/>
	<link rel="stylesheet" href="/resources/stylesheets/modlist.css?v=1402920180"/>
	<link rel="dns-prefetch" href="//ajax.googleapis.com/"/>
	<link rel="shortcut icon" href="/resources/images/favicon32x32.png">
</head>
<body>
	<div class="container">
		{% block content %}{% endblock %}
	</div>
	<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="/resources/js/jquery.stickytableheaders.min.js"></script>
	<script type="text/javascript" src="/resources/js/tooltips.min.js"></script>
	<script type="text/javascript" src="/resources/js/panel.min.js"></script>
	<!--[if lt IE 9]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</body>
</html>